<% content_for :title, "Tenants" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="grow font-bold text-4xl">Tenants</h1>
    <%= link_to "New tenant", new_admin_tenant_path, class: "shrink-0 rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
  </div>

  <div id="tenants" class="min-w-full divide-y divide-gray-200 space-y-1">
    <% if @tenants.any? %>
      <div class="grid grid-cols-5 w-full sm:w-auto my-1 gap-2 space-y-1">
        <div class="col-span-4">
          <strong class="font-medium ">Name:</strong>
        </div>
        <div class="col-span-1">
          <strong class="font-medium">Active:</strong>
        </div>
      </div>

      <% @tenants.each do |tenant| %>
        <%= render tenant %>
      <% end %>
    <% else %>
      <p class="text-center my-10">No tenants found.</p>
    <% end %>
  </div>
</div>
