<% content_for :title, "Editing client" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing client</h1>

  <%= render "form", client: @client %>

  <%= link_to "Show this client", admin_tenant_client_url(@client.tenant, @client), class: "heimdall_button" %>
  <%= link_to "Back to clients", admin_tenant_clients_path(@client.tenant), class: "heimdall_button" %>
</div>
