<turbo-frame id="otp_input">
  <div class="p-4 border rounded bg-green-100 text-green-800">
    ✅ Du er nu tilsluttet. Du kan lukke dette vindue eller fortsætte med at <i>browse</i>.
  </div>
</turbo-frame>