<html>
  <head>
    <title>Connected</title>
  </head>
  <body class="text-center text-white bg-white font-sans">success
    <div class="p-4 border rounded bg-green-100 text-green-800">
      ✅ Du er nu tilsluttet. Du kan lukke dette vindue eller fortsætte med at <i>browse</i>.
    </div>
    <script>
      // Redirect to a specific URL after successful connection
      setTimeout(() => window.location.href = "<%= session[:url] %>", 10000);
      </script>  
  </body>
</html>