<html>
  <head>
    <title>Connected</title>
    <script>
      setTimeout(() => window.close(), 1000);
    </script>
  </head>
  <body class="text-center text-white bg-white font-sans">success
    <h1 class="text-2xl text-black mt-10">You are now connected 🎉</h1>
    <p class="text-black">You can close this window.</p>
  </body>
</html>