<% bg_class, text_class, border_class =
  case type
  when :success
    ["bg-green-100", "text-green-800", "border-green-300"]
  when :error
    ["bg-red-100", "text-red-800", "border-red-300"]
  else
    ["bg-gray-100", "text-gray-800", "border-gray-300"]
  end
%>

<div
  class="toast <%= bg_class %> <%= text_class %> border <%= border_class %> px-4 py-2 rounded shadow transition-opacity"
  data-controller="dismiss"
  data-dismiss-delay-value="4000"
>
  <%= message %>
</div>