<% content_for :title, "Editing user" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing user</h1>

  <%= render "form", user: @user %>

  <%= link_to "Show this user", admin_tenant_user_path(@user.tenant, @user), class: "heimdall_button" %>
  <%= link_to "Back to users", admin_tenant_users_path(@user.tenant), class: "heimdall_button" %>
</div>
