<% content_for :title, "New user" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New user</h1>

  <%= render "form", user: @user %>

  <%= link_to "Back to users", admin_tenant_users_path(@tenant), class: "heimdall_button" %>
</div>
