<% content_for :title, "Editing site" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing site</h1>

  <%= render "form", site: @site %>

  <%= link_to "Show this site", admin_tenant_site_path(@site.tenant, @site), class: "heimdall_button" %>
  <%= link_to "Back to sites", admin_tenant_sites_path(@site.tenant), class: "heimdall_button" %>
</div>
